.groupItemDiv {
    background-color: #4a4158;
    font-size: 20px;
    text-align: center;
    font-family: "B612", sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px;
    transition: all 0.5s ease 0s;
    overflow-x: auto;
}

.groupItemDiv input {
    padding: 10px 20px;
    border: none;
    background: #8e97ff;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}
