.title {
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    display: inline-flex;
}

.count {
    font-size: 12px;
    font-weight: 600;
    border: 2px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 20px;
}

.active {
    background-color: teal;
    color: whiite;
}

.selected {
    background-color: #4a4158;
    border: solid 1.5px #b1b1e0;
}

.notSelected {
    border: solid 1.5px lightblue;
}

.selectedText {
    color: #ffff;
}

.notSelectedText {
    color: #000000;
}