.container {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item {
    display: flex;
    margin: 0 0.2rem;
    padding: 0 !important;
    color: white;
}

.item:first-child {
    margin: 0 !important;
}