.checkBox {
    align-self: center;
    margin: 0.5rem 0.2rem;
    padding-left: 1rem;
}

.label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-evenly;
}

.duedate {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
}

.title {
    width: 25rem;
    height: 2rem;
    align-items: center;
    display: flex;
}
