.searchContainer {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 0.2rem;
    border-radius: 0.5rem;
    height: 260px;
    position: absolute;
    z-index: 99;
}

.searchContainer p {
    padding: 15px 20px;
    text-align: center;
    background: #8684ba;
    color: white;
    margin: 0;
    border: 2px solid;
}

.emptyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.list {
    border: 1px solid #d9dddd;
    border-bottom: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dedcff;
    font-family: sans-serif;
    letter-spacing: 0.15em;
}

.groupsHeader {
    background: #009688;
    color: white;
    padding: 15px;
    margin: 0;
}

.todosHeader {
    background: cornflowerblue;
    color: white;
    padding: 15px;
    margin: 0;
}