.searchContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

.emptyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.list {
    border: 1px solid #d9dddd;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
