@import "src/variables";
@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");

*:active,
*:focus {
    outline-color: transparent !important;
    outline-style: none !important;
    outline: none !important;
}

.btn {
    cursor: pointer;
}

body {
    font-family: B612;
}

.text-backdrop {
    background: rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0)),
        color-stop(100%, rgba(0, 0, 0, 0.5))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
}
.text-backdrop-75 {
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(0, 0, 0, 0)),
        color-stop(100%, rgba(0, 0, 0, 0.75))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
    );
}

.drop-shadow-b10 {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.drop-shadow-t10 {
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
}
.drop-shadow-all {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

@media (hover: none) and (pointer: coarse) {
    .scrollable {
        /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}
