$primary-blue: #357dfa;
$primary-gray: #a7a7a7;
$primary-gray-dark: #949393;
$primary-gray-light: #f0f0f0;
$primary-black: #212121;
$primary-danger: #f6386d;
$primary-danger2: #f30851;
$default-background: #ffffff;
$default-color: $primary-black;
